<%comments.each do |comment|%>
	<div class="well">
<dl class="dl-horizontal ">
  <dt class="comment-image">
  	<%=link_to image_tag(comment.user.avatar.url(:medium)),user_path(comment.user)%>
    <br/>
    <b><%=link_to comment.user.full_name,user_path(comment.user)%> </b>
  	<br><span class="stars"><%=comment.user.profile.rating%></span>
   
  </dt>
  <dd><i class="fa fa-quote-left"></i><%=comment.body%> <i class="fa fa-quote-right"></i> <span class="pull-right">Posted on: <%=comment.created_at.strftime('%d-%b-%y') %> </span>
    <br>
     <div id="comment_like_div_<%=comment.id%>">
      <%if current_user.present? %>
        <%=render :partial => 'comments/like',:locals => {:comment=>comment,:likes => comment.get_upvotes.size,:dislikes => comment.get_downvotes.size}%>
      <%end%>
    </div>
  </dd>


</dl>
		
		
		
		</div>
<%end%>
<%= will_paginate comments , renderer: BootstrapPagination::Rails%>



