        <div class="row ">
            <div class="col-xs-12 ">
                <div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title text-center">Sign In</h3>
                    </div> -->
                    <div class="panel-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <%= devise_error_messages! %>

                            <div class="form-group">
                                <%= f.email_field :email, autofocus: true,:class=>"form-control input-sm", :placeholder=>"Email Address" %>
                            </div>

                            <div class="form-group">
                                <%= f.password_field :password, autocomplete: "off",:class=>"form-control input-sm", :placeholder=>"Password" %>
                            </div>

                            <% if devise_mapping.rememberable? -%>
                                <div class="form-group">
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                </div>
                              <% end -%>
                            <%= f.submit "Log In" ,:class=>"btn btn-info btn-block"%>
                        <% end %>
                         <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                          <%= link_to "Forgot your password?", show_modal_home_path('forgot password'),:remote => true ,:class=>"pull-right"%><br />
                        <% end -%>
                        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                          <p class="text-center">Not registered yet? <%= link_to 'Sign Up', show_modal_home_path('sign up'),:remote => true%></p>
                        <% end -%>
                        <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

                <%#= render "users/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
