<%- model_class = User -%>
<div class="page-header">
  <h1>
  <%if @user.tokens.unused.count > 0%> 
      <i class="fa fa-check-square-o text-success" title="Eligble to grab a book!"></i>
    <%end%>
  <%=@user.full_name%></h1>
  <h3 class="pull-right"><%= link_to t('.back', :default => t("helpers.links.back")),
              request.referer, :class => 'btn btn-default'  %>
  <%if @user == current_user %>
        <h3 class="pull-right"><%=link_to 'Edit',edit_user_registration_path(current_user), :class => 'btn btn-primary'%></h3>
    <%end%>
</div>

<dl class="dl-horizontal">
  <dt><%= image_tag @user.avatar.url(:medium), alt: "#{@user.full_name}",:class=>"img-responsive google_book_image"%></dt>
  <dd><%= @user.full_name %>
    <br><%= @user.email %>
    <br><%= @user.profile.try(:location).try(:name) %>
    <br><span class="stars"><%= @user.profile.rating%></span>
  </dd>
 

</dl>


<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>
