<div class="boxgrid slideright product-1">
    <%= image_tag image_link, alt: "#{book.title}",:class=>"cover"%>
    <div class="social-list" >
        <ul>
            <li>

                <%= link_to book_path(book.id) ,:remote => true ,:method => :get do %>
                    <i class="fa fa-search-plus" title="Quick View"></i>
                <% end %>
            </li>
            <%if local_assigns.has_key? :path%>
                <li>
                    <%= link_to path ,:remote => true ,:method => :get do %>
                        <i class="fa <%=action_class%>" title="<%=icon_title%>"></i>
                    <% end %>
                    <!-- <a href="#" target="_blank"><i class="fa fa-hand-paper-o"></i></a> -->
                </li>
            <%end%>
            <%if (local_assigns.has_key? :is_provided) && is_provided%>
                <li>
                    <%= link_to delete_shared_book_path(book), :method => :delete,:data => { :confirm => 'Do you really want to unshare this book?' } do %>
                        <i class="fa fa-chain-broken" title="Unshare it"></i>
                    <% end %>

                    <!-- <a href="#" target="_blank"><i class="fa fa-hand-paper-o"></i></a> -->
                </li>
            <%end%>

        </ul>
    </div>
    <div class="product-6">
        <p title = "<%=book.title%>"> <%if (local_assigns.has_key? :is_provided) && is_provided%>
                    <i class="fa fa-share-square-o" title="Shared"></i>
                    <%elsif (local_assigns.has_key? :is_provided)%>
                    <i class="fa fa-exclamation-triangle" title="Not Shared"></i>
                <%end%> <%=link_to book.title.slice(0..32),book_path(book.id)%></p>
        <h2 title = "<%=authors%>"><%=authors.slice(0..30)%></h2>
        <h2 title = "<%=book.try(:isbn)%>"><%=book.try(:isbn)%></h2>
         
        <div class="star-icon">
      
               
                        <span class="stars"><%= average_rating%>
                        </span>
                  
        </div>
    
    </div> 
</div>


<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>
