
    <div class="boxgrid slideright product-1">
    <%= image_tag image_link, alt: "#{book.title}",:class=>"cover"%>
    <div class="social-list" >
        <ul>
            <li>
                <%= link_to path ,:remote => true ,:method => :get do %>
                    <i class="fa <%=action_class%>"></i>
                <% end %>
                <!-- <a href="#" target="_blank"><i class="fa fa-hand-paper-o"></i></a> -->
            </li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="product-6">
        <p><%=link_to book.title,book_path(book)%></p>
        <h2><%=authors%></h2>
        <h2><%=book.try(:isbn)%></h2>
        <div class="star-icon">
            <ul>
                <li><img src="/assets/webz/star.png"></li>
                <li><img src="/assets/webz/star.png"></li>
                <li><img src="/assets/webz/star.png"></li>
                <li><img src="/assets/webz/star.png"></li>
                <li><img src="/assets/webz/star.png"></li>
            </ul>
        </div>
    </div> 
</div>


<script type="text/javascript">
    $(document).ready(function(){
        
        //Horizontal Sliding
       
    });
</script>