                <div class="col-md-4 col-sm-6 portfolio-item">
                    <%= link_to path ,:remote => true, :class => "portfolio-link" do %>
                      
                      <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa <%=action_class%> fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag image_link, alt: "#{book.title}",:class=>"img-responsive google_book_image"%>
                  <% end %>
                   
                    <div class="portfolio-caption">
                        <h4 title="<%=book.title%>"><%=book.title%>

                        </h4>
                        <p class="text-muted" title="<%=authors%>">

                        <a href="" class="portfolio-link" data-toggle="modal">
                             <i class="fa fa-info-circle fa-2x"></i>
                             </a>
                        <%=authors%>
                        </p>
                        <p class="text-muted" title="<%=book.try(:isbn)%>">
                            <%if local_assigns.has_key? :show_actions%> 
                                <%= link_to delete_shared_book_path(book), :method => :delete,:data => { :confirm => 'Do you really want to unshare it?' } do %>
                                  <i class="fa fa-chain-broken fa-2x"></i>
                                <% end %>       
                            <%end%>
                        <%=book.try(:isbn)%>
                          <span class="stars"><%=average_rating.presence || 3%></span>
                        </p>
                       
                    </div>
                </div>
                
                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">A Dreamer</p>
                    </div>
                </div> -->

