<dl class="dl-horizontal">
  <dt><%= image_tag image_link, alt: "#{book.title}",:class=>"img-responsive google_book_image"%>
  <br>
  <span class="stars"><%=average_rating%></span>
  </dt>
  <dd>
    <%#= link_to book.link,book.link,:target=>'_blank' %>
    <br><%= book.description %>
    <br><%= authors %>
    <br><b><%= book.publisher %></b> | <i><%= book.published_date %></i>
    <br><b><%= book.isbn %> </b>
    <br><%= categories %> 
  </dd>
 

</dl>



<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>