<dl class="dl-horizontal">
  <dt><%= image_tag book.avatar.url(:medium), alt: "#{book.title}",:class=>"img-responsive google_book_image"%>
  <br>
  <span class="stars"><%=book.google_provided_rating%></span>
  </dt>
  <dd><%= book.subtitle %>
    <br><%= link_to book.link,book.link,:target=>'_blank' %>
    <br><%= book.description %>
    <br><%= book.publisher %> | <%= book.published_date %>
    <br><%= book.isbn %> | <%= book.language.title %>
    <br><%= book.tag_list %> 
  </dd>
 

</dl>



<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>