<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Pick Locations</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
      <td>
        <%= image_tag provider.avatar.url(:thumb) %>
        <span class="stars"><%= provider.profile.rating%></span>
      </td>
        <td>

        <%= provider.full_name %></td>
        <td><%= @book.pick_locations.collect(&:name).join(',') %></td>
        <td>
          <%= link_to get_contact_info(provider),'#',
                       :class => 'btn btn-default btn-xs',:title=>'Make a great deal' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>
