<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Pick Locations</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <% @providers.each do |provider| %>
      <tr>
      <td>
        <%= image_tag provider.avatar.url(:thumb) %>
        <span class="stars"><%= provider.profile.rating%></span>
      </td>
        <td>

        <%= provider.full_name %></td>
        <td><%= @book.pick_locations.collect(&:name).join(',') %></td>
        <%if current_user.tokens_count > 0%>
          <td>
            <%if false%>
              <%#= link_to provider.phone_no,'#',
                         :class => 'btn btn-default btn-xs',:title=>'Make a great deal' %>
            <%else%>
              <%= link_to "Request a book",request_book_users_path(:user_id => provider,:book_id=>@book.id),
                         :class => 'btn btn-default btn-xs',:title=>'Make a great deal' ,:method => :post,:remote => true,:data => { :confirm => "Great! Confirm to send a request to #{provider.full_name} and socialise to make a great deal." }%>
            <%end%>
            <%= image_tag '/assets/bc.jpg',:size => '35x35' %>x<%=provider.tokens_count%>
            <%= link_to user_token_path(provider.id,provider.tokens.first.id,:book_id => @book.id ), :remote => true,:method => :put,:remote => true,:data => { :confirm => "This will lock your BookCoin(BC) with #{provider.full_name} for #{@book.title}. This BC will be valid for the next 7 days." } do %>
              <i class="fa fa-lock fa-2x"></i>
            <%end%> 
            <%#=link_to 'Generate token',user_tokens_path(Token.first), :method => :post%>
          </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function() {
    $('span.stars').stars();
});

</script>
