
  <h2 class="pull-right"> <%= image_tag '/assets/bc.jpeg' %>x<%=@my_token%></h2>



<%if @transactions.size > 0%>
              <table class="table">
               
                <tbody>
                  <% @transactions.each do |transaction| %>
                  <%response = get_user_specific_details(transaction)%>
                    <tr class="alert-success <%=response[:class]%>">
                      <td><%= transaction.created_at.strftime('%d-%b-%y') %></td>
                      <td><%=response[:redeem]%></td>
                      <td>                             
                        <%=response[:message].html_safe%>
                        <%# =link_to 'Unlock',unlock_book_coin_path()%>
                      </td>
                      
                        
                     
                    </tr>
                  <% end %>
                </tbody>
              </table>
        <%else%>
            <h2>No transaction made yet!</h2>
        <%end%>


  
