  <h2 class="pull-right"><%=@my_credit%> and <%=@my_token%> Token</h2>
  <%=link_to 'Generate token',user_tokens_path(current_user), :method => :post%>
        <%if @transactions.size > 0%>
          <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>                    
                    <th>Message</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% @transactions.each do |transaction| %>
                    <tr>
                      <td><%= transaction.created_at.strftime('%d-%b-%y') %></td>
                      <td>
                        
                        <%=get_message(transaction.message,{:redeem_code=>transaction.token.try(:redeem_code),:receiver =>transaction.try(:receiver).try(:full_name),:giver => transaction.try(:giver).try(:full_name),:book => transaction.book.try(:title)})%>
                      </td>
                      <td>
                        <i class="fa <%=get_class(transaction)%>"></i>
                      <%= transaction.credit%></td>
                      <td><%#= transaction.token.try(:redeem_code) %></td>
                      <td><%#= transaction.receiver.full_name %></td>
                      <td><%#= transaction.giver.full_name %></td>
                      <td><%#= transaction.message%></td>
                      <td><%#=:book_title => transaction.book.try(:title)%></td>
                      
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
          <%= will_paginate @transactions , renderer: BootstrapPagination::Rails%>
        <%else%>
            <h2>No transactions made yet!</h2>
        <%end%>


  
