
<nav class="navbar navbar-default navbar-fixed-top mobilenav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_url%>"><%=image_tag '/assets/logos/favicon.gif'%>Share Garage</a>
    </div>

<%if !current_page?(root_url)%>
  <div class="col-md-1">
    <select>
    
    <option onclick="toggleDiv(give_away,take);">Grab</option>
    <option onclick="toggleDiv(take,give_away);">Give Away</option>
  </select>
</div>
  <div class="col-md-5">

   <%=form_tag search_books_path, method: :get, :class=>"form-inline", :role=>"search",:id=>"give_away" ,:style => 'display:none' do %>
          <div class="input-group">
             
             <div class="form-group">
              <%=text_field_tag :book_query,nil,:placeholder => "Enter book title,author,isbn",:class=> "form-control"%>
             </div>            
            <div class="input-group-btn">
              <button id="btn-search" class="btn btn-info" type="submit"><i class="fa fa-search fa-fw"></i></button>
            </div>
          </div>
        <%end%>

        <%=form_tag library_books_path, method: :get, :class=>"form-inline", :role=>"search",:id=>"take" do %>
          <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-map-marker "></i></span>
             <div class="form-group">
              <%=select_tag "location_query", options_for_select(Location.all.map { |e| e.name }),:class=>"form-control"%>
             </div>
             <div class="form-group">
              <%=text_field_tag :book_query,nil,:placeholder => "Enter book title,author",:class=> "form-control"%>
             </div>            
            <div class="input-group-btn">
              <button id="btn-search" class="btn btn-info" type="submit"><i class="fa fa-search fa-fw"></i></button>
            </div>
          </div>
        <%end%>
  </div>
<%end%>


     
     
         
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="<%=user_path(current_user)%>">Show</a></li>
              <li><a href="<%=user_transactions_path(current_user)%>">Account</a></li>
            </ul>
          </li>
          <li><%= link_to 'Book Shelf',shelf_user_path(current_user)%></li>
          <li><%= link_to 'Redeem Token',show_token_form_user_tokens_path(current_user),:remote => true%></li>
          <li><%= link_to 'Log out',destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to 'Login',show_modal_home_path('login'),:remote => true%></li>
          <li><%= link_to 'Sign Up', show_modal_home_path('sign up'),:remote => true%></li>
        <%end%>
        
      </ul>
  </div><!-- /.container-fluid -->
</nav>


