<!DOCTYPE html>
<html>
<head>
  <title>Bibly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="description" content="Bibly is a free online book sharing platform. Make the most of your used books.">
  

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%=favicon_link_tag '/assets/logos/favicon.gif'%>
</head>

<body >
<div class="container-web">
  <%= render 'layouts/header' %>
  <%if current_page?(root_url)%>
    <%= render 'layouts/modal'%>
    <%= flash_messages %>
    <%= yield %>
  <%else%>
    <div class="products">
    <div class="wrapper">
      <%= render 'layouts/modal'%>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div>
<%end%>
  
  <%=render :partial => '/layouts/footer'%>
</div>


</body>
</html>
