<!DOCTYPE html>
<html>
<head>
  <title>Share Garage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%=favicon_link_tag '/assets/logos/favicon.png'%>
</head>

<body >
<div class="container">
  <%= render 'layouts/header' %>
  
  <div class="products">
    <div class="wrapper">
      <%= render 'layouts/modal'%>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div>
  <%=render :partial => '/layouts/footer'%>
</div>


</body>
</html>
